<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">



  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  


  <title></title>
</head>
<body>

    <nav>

    <h1><a href="/">Survey Cloud</a></h1>

    <ul>
      <% if current_user %>
        <li><a href="/user/profile"><%= User.find(session[:user_id]).user_name%>'s Profile</a></li>
        <li><a id="sign-out" href="/sessions/<%= current_user.id %>">Sign Out</a></li>
      <% else %>
        <li><a href="/sessions/new">Sign In</a></li>
        <li><a href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>

  </nav>
  <div class= "container">
  <%= yield %>
    <script src="http://code.highcharts.com/highcharts.js"></script>
  <script src="http://code.highcharts.com/modules/exporting.js"></script>
  </div>
  <div id="images">
  </div>
  
  <div id="about-us">
     <div id = "cloud"><h1>Created By...</h1><span class='shadow'></span></div>
    <table>
  <td><img src="/ryan.png" > Ryan Salomon</td>
  <td><img src="/stephen.png" > Stephen Nguyen</td>
  <td><img src="/adam.png" > Adam Sartell</td>
  <td><img src="/chris.png" > Chris Torstenson</td>
</tr>
  </table>
    </div>
      </body

      </html>
