<h2><%=@survey.title%></h2>
<ul>
<%survey.questions.each do |question|%>
  <li><%=question.description%></li>
    <ol>
      <%question.answers.each do |answer| %>
      <li> <%= answer.description %> </li>
      <% end %>
    </ol>

<% end %>
</ul>
