<form id="new_survey" method="post" action="/survey/new">
  <label class="label" for="Title">Title</label>
  <input type="text" name="survey[title]" placeholder="Title">
  <input type="hidden" name="survey[author_id]" value="<%=@user.id%>">
  
  <div class='card_box'>

    </br>
    <div class='question_card'>
      <div class= 'question'>
        <label class='label' for='Question'>Question</label>
        <input type='text' class='new-question' name='question[1][description]' placeholder='What is your question?'>
        <br>
      </div>
      <div class='answers'>
        <div class='answer'>
          <label class='label' for='Answer'>Answer</label>
          <input type='text' class='new-answer' name='answer[1][description]' placeholder='What is your answer?'>
          <br>
        </div>
      </div>
      <input type='button' id='add_answer' value='Add Answer'>
    </div>

    
    <input type="button" id="add_question"   value="Add Question">

  </div>

  <div class="submit"><input type="submit" value="Create"></div>

</form>


