<h2> <%= @user.user_name %>'s' Profile Page! <%=@user.id%></h2>

<div id="user-surveys"
<ul>
  <% @user_surveys.each do |survey| %>
  <li><h4><a href="/survey/<%=survey.id%>"><%=survey.title%></a></h4></li>
  <%end %>
</ul>
</div>

